* {
  transition: 500ms;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
}

.navbar-nav .nav-link {
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 2rem;
  color: #212529;
}

.navbar-nav .nav-link:hover {
  color: #567a9e;
}

.hero-section {
  font-family: "Playfair Display", serif;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 60%,
    rgba(255, 255, 255, 0.8) 100%
  );
  pointer-events: none;
}

.hero-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  top: -20%;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
}
